<div ng-controller="NavigationController as navigate">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Instagram</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/#!/newsFeed">Home</a></li>
            <li><a href="/#!/profile">Profile</a></li>
            <li><a href="/#!/search">Search</a></li>
            <li><a href="/#!/profile" class="active">{{navigate.userName}}</a></li>
            <li><a href="/#!/logout"  ng-click="navigate.logout">Logout</a></li>
        </ul>
        <!--<button class="btn btn-default btn-lg pull-right" ng-click="navigate.logout()">Logout</button>-->
    </div>
</nav>
</div>
